* {
  background-color: #FFE8D1;
  font-family: "Funnel Display", serif;
  color: #402E32;
  font-size: 20px;
}

.header {
  font-size: 112px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.0;
  color: #dc793b;
  text-align: left;
}

.options li a, .options li {
  font-size: 32px;
  color: #9a7159;
}

h1 {
  text-align: center;
}

img {
  height: auto;
  width: 380px;
}

h2 {
  text-align: center;
  font-size: 28px;
}

h1 {
  font-size: 40px;
}

.home {
  font-size: 24px;
}