* {
  background-color: #FFE8D1;
  font-family: "Funnel Display", serif;
  color: #402E32;
  font-size: 20px;
}

.header {
  display: inline-block;
  font-size: 112px;
  line-height: 1.0;
  color: #dc793b;
  text-align: left;
  margin: 80px;
  margin-bottom: 20px;
  margin-right: -10px;
}

.options li a, .options li {
  font-size: 32px;
  color: #9a7159;
}

.options li {
  margin-left: 120px;
}

h1 {
  text-align: center;
}

img {
  float:left;
  height: auto;
  width: 380px;
  margin-right: 32px;
}

#brownie-img {
  width:500px;
  height:auto;
}

h2 {
  text-align: center;
  font-size: 28px;
}

h1 {
  font-size: 40px;
}

.home {
  font-size: 24px;
}

.disc {
  display: inline-block;
  width: 800px;
  text-align: center;
}

.layer {
  overflow: hidden;
  margin-bottom: 100px;
}

